.page-breadcrumb {
  position: relative;
  background: #fff;
  height: 34px;
  display: block;
  padding: 0;
}
.page-breadcrumb .breadcrumb-list {
  background-color: transparent;
  font-size: 12px;
  color: #333;
  border-radius: 0;
  padding: 0;
}
.page-breadcrumb .breadcrumb-list > li {
  display: inline-block;
}
.page-breadcrumb .breadcrumb-list > li > a {
  display: block;
  color: #333;
  height: 34px;
  line-height: 32px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  background-color: #fff;
  font-style: italic;
  text-decoration: none;
  padding: 0 12px 0 24px;
}
.page-breadcrumb .breadcrumb-list > li > a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #ccc;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.page-breadcrumb .breadcrumb-list > li > a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #FFF;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
