body{
    background-color: #333;
}

/* Active Animation */
@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    text-align: center;
}
.loader-wraper{
    position: relative;
}
.loader-wraper .loader {
    position: absolute;
    left: 50%;
    margin-left: -32px;
}
.loader:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    border-color: rgba(255,255,255,.15);
    border-radius: 100%;
    border: 2px solid rgba(0,0,0,.1);
}
.loader:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    animation: loader .6s linear;
    animation-iteration-count: infinite;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
    border-color: #fff transparent transparent;
    width: 64px;
    height: 64px;
}
.loader.text {
    text-align: center;
    font-style: normal;
    padding-top: 76px;
    color:#fff;
    color: rgba(255,255,255,.9);
    font-weight: bold;
}