@font-face {
    font-family: 'Segoe UI Light';
    src:url('../../font/segoeuil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-appearance:none;
}

html,body{
    min-height: 100%;
}
body {
    font-family:'Segoe UI Light',"Helvetica Neue", Helvetica, STHeiTi, sans-serif, "Microsoft YaHei","宋体","Segoe WP", "Segoe UI";
    font-size: 14px;
    color: #333;
    background-color: #fff;
    line-height: 1;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
a:focus {
    outline: none;
}

