/**
 * Created by canknow on 2015/7/22.
 */

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.circle {
    border-radius: 100%;
}

.display-block {
    display: block !important;
}

.padding-base{
    padding: 10px;
}

.flex-box-horizional{
    display: -webkit-box;
    box-orient: horizional;
}
.flex-box-vertical{
    display: -webkit-box;
    box-orient: vertical;
}
.flex-adapter{
    flex:1;
    -webkit-box-flex:1;
}
.flex-1{
    flex:1;
}
.flex-2{
    flex:2;
}
.flex-3{
    flex:3;
}
.flex-4{
    flex:4;
}
.flex-5{
    flex:5;
}
.flex-6{
    flex:6;
}
.flex-7{
    flex:7;
}
.flex-8{
    flex:8;
}
.flex-9{
    flex:9;
}
.flex-10{
    flex:10;
}

.withpoint{
    position: relative;
}
.withpoint:after {
    content: ">";
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 100%;
}

.blur {
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}