.container{
    padding: 10px;
}

.row:before {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
  display: table;
  content: " ";
}
.row > [class*="column-"] {
  float: left;
  min-height: 1px;
}
.column-1 {
  width: 10%;
}
.column-2 {
  width: 20%;
}
.column-3 {
  width: 30%;
}
.column-4 {
  width: 40%;
}
.column-5 {
  width: 50%;
}
.column-6 {
  width: 60%;
}
.column-7 {
  width: 70%;
}
.column-8 {
  width: 80%;
}
.column-9 {
  width: 90%;
}
.column-10 {
  width: 100%;
}

.width-em5{
    width:5em;
}
.width-em10{
    width:10em;
}
.width-em15{
    width:15em;
}
.width-em20{
    width:20em;
}
.width-em25{
    width:25em;
}
.width-em30{
    width:30em;
}
.width-em35{
    width:35em;
}
.width-em40{
    width:40em;
}
.width-em45{
    width:45em;
}
.width-em50{
    width:50em;
}
.width-em55{
    width:55em;
}
.width-em60{
    width:60em;
}
.width-em65{
    width:65em;
}
.width-em70{
    width:70em;
}

.height-em1{
    height:1em;
}
.height-em2{
    height:2em;
}
.height-em5{
    height:5em;
}
.height-em10 {
    height:10em;
}
.height-em20 {
    height:20em;
}
.height-em30 {
    height:30em;
}
.height-em40{
    height:40em;
}
.height-em50{
    height:50em;
}
